<?xml version="1.0" encoding="utf-8" ?>
<scrollview width="100%" height="100%">
    <vbox width="100%">
        <text text="Bienvenida a Potatex!" />
        <divider text="Divider" />
		<!--<button text="Test rápido" width="100%" id="btnQuickTest"/>-->
        <button text="Elegir tema" width="100%" id="btnCustomTest"/>
	</vbox>
</scrollview>
