<?xml version="1.0" encoding="utf-8" ?>
<scrollview width="100%" height="100%">
    <vbox width="100%">
        <text text="Potatex!" style="fontSize: 32;" horizontalAlign="center"/>
        <image resource="assets/images/potato.png" horizontalAlign="center" width="100" height="100" stretch="true"/>
        <divider />
		<!--<button text="Test rápido" width="100%" id="btnQuickTest"/>-->
        <button text="Elegir tema" id="btnCustomTest" horizontalAlign="center"/>
	</vbox>
</scrollview>
